body{
    background-color: black;
}
.center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
}